input {
  outline: none;
  border: 1px solid #bbb;
  border-radius: 10px;
  margin: 5px 0;
  padding: 10px;
}
.container {
  display: flex;
  justify-content: space-evenly;
}
.red {
  border-color: red;
}
ul li,
.ss {
  text-decoration: none;
  list-style: none;
  text-align: center;
  margin-top: 1rem;
  padding: 10px;
  border-bottom: 1px solid rgb(216, 215, 215);
}
div {
  text-align: center;
}
ul li button {
  padding: 5px;
  margin: 1rem;
  border-radius: 5px;
  background: #e62143;

  border: 0;
  color: white;
}

button:hover {
  cursor: pointer;
}
.searchResult {
  background-color: black;
  color: white;
}
#btn {
  background-color: #1652f0;
  border: 1px solid #1652f0;
  border-radius: 4px;
  color: #ffffff;
  padding: 8px 20px;
}
